/* Start Global Rules */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-color: #2196f3;
  --alternate-color: #6ed1fa;
  --grey-color: #ececec;
  --main-transition: all 0.5s;
  --box-shadow: 0px -3px 44px -4px rgba(0, 0, 0, 0.75);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  margin: auto;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 90%;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 90%;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title {
  border: 3px solid black;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 100px auto;
  position: relative;
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;

  transform: translateY(-50%);
}
.main-title::before {
  left: -25%;
}
.main-title::after {
  right: -25%;
}
.main-title:hover.main-title::before {
  z-index: 1;
  animation: move-left-dots 1s linear forwards;
}
@keyframes move-left-dots {
  50% {
    left: 0%;
    width: 50%;
    height: 100%;
    border-radius: 0;
    z-index: -1;
  }
  100% {
    left: 0%;
    width: 50%;
    height: 100%;
    border-radius: 0;
    z-index: -1;
  }
}

.main-title:hover.main-title::after {
  z-index: 1;
  animation: move-right-dots 1s linear forwards;
}
@keyframes move-right-dots {
  50% {
    right: 0%;
    width: 50%;
    height: 100%;
    border-radius: 0;
    z-index: -1;
  }
  100% {
    right: 0%;
    width: 50%;
    height: 100%;
    border-radius: 0;
    z-index: -1;
  }
}
.main-title {
  text-transform: uppercase;
}
.main-title:hover {
  color: white;
  background-color: var(--main-color);
  border: 3px solid white;
  transition-delay: 0.5s;
}

/* End Global Rules */

/* Start Section Header */

.logo h2 {
  color: var(--main-color);
  cursor: pointer;
}
.header {
  padding: 15px 0px;
  background-color: white;
  width: 100%;
  box-shadow: 0px 0px 0px black;
}

nav ul li {
  padding: 20px;
  position: relative;
  overflow: hidden;
}

nav ul li:hover {
  background-color: #fafafa;
  cursor: pointer;
}

nav ul li:hover a {
  color: var(--main-color);
}

nav ul li:hover::before {
  left: 0%;
}

nav ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  bottom: 0%;
  left: -100%;
  transition: var(--main-transition);
}

nav ul li a {
  color: black;
}

/* Start MegaMenu */
.mega-menu {
  background-color: white;
  border-bottom: 2px solid var(--main-color);
  padding: 10px 0px;
  position: absolute;
  top: 15%;
  width: 100%;
  z-index: 100;
  opacity: 0;
  transition: var(--main-transition);
}

nav ul li a:last-child:hover .mega-menu {
  background-color: red;
}

.mega-content {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 50px;
}
.mega-content .links {
  margin-left: 80px;
}
.mega-content ul li {
  padding: 10px 0px;
}
.mega-content ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.mega-content ul li a {
  color: var(--main-color);
  font-weight: bold;
  white-space: nowrap;
}
.mega-image img {
  width: 350px;
}
/* End MegaMenu */

@media (max-width: 768px) {
  .header .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo {
    width: 90%;
    text-align: center;
  }

  nav ul li {
    margin: 0px 0px;
    padding: 15px;
    font-size: 13px;
  }
}

@media (max-width: 991px) {
  .mega-image {
    display: none;
  }
  .mega-content .links {
    flex: 1;
  }
}

@media (max-width: 766px) {
  .mega-content {
    flex-direction: column;
    gap: 0px;
    padding: 15px;
    margin: 5px;
  }
  .mega-content .links {
    margin-left: 0px;
  }
  .mega-content ul li {
    width: 100%;
  }

  .mega-content ul:first-of-type li:last-child {
    border-bottom: 1px solid #ddd;
  }
}
/* End Section Header */

/* Start Section Home */
.home {
  position: relative;
  /* background-color: white; */
  height: 80vh;
}

.home h1 {
  font-size: 23px;
  color: var(--main-color);
}

.home p {
  width: 80%;
  line-height: 1.6;
  font-size: 20px;
  color: #66668d;
}

.home::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0px;
  right: 0;
  width: 100%;
  height: 80vh;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.home-image img {
  width: 500px;
  position: relative;
  top: -50px;
  animation: img-move 1.3s infinite alternate;
}

@keyframes img-move {
  from {
    top: -50px;
  }
  to {
    top: -10px;
  }
}

.down-arrow {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%);
  font-size: 35px;
  color: var(--main-color);
  cursor: pointer;
  transition: var(--main-transition);
}

.down-arrow:hover {
  color: var(--alternate-color);
}

.down-arrow {
  animation: up-down 1.5s infinite alternate;
}

@keyframes up-down {
  from {
    bottom: 0%;
  }
  to {
    bottom: 10%;
  }
}

@media (max-width: 992px) {
  .home-image {
    display: none;
  }

  .home .text {
    margin-top: 15%;
    height: 40vh;
    align-content: center;
    text-align: center;
  }

  .home .text p {
    margin: auto;
  }
}

/* End Section Home */

/* Start Section Articles */
.articles {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-template-columns: repeat(4 , minmax(200px , 1fr)); */
  gap: 30px 10px;
}
.articles .card {
  /* width: 25%; */
  box-shadow: 0px 0px 1px black;
  border-radius: 10px;
  overflow: hidden;
  transition: var(--main-transition);
}
.card .card-image img {
  width: 100%;
}
.card-text,
.card-footer {
  padding: 15px;
}
.card p {
  color: #66668d;
}
.card-footer {
  border: 1px solid #ddd;
  color: var(--main-color);
}
.card:hover {
  transform: translateY(-20px);
  box-shadow: var(--box-shadow);
}
.card:hover:hover .card-footer i {
  animation: arrow-move 1s linear infinite;
}
@keyframes arrow-move {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(50%);
  }
}
/* End Section Articles */

/* Start section gallery */
.gallery {
  background-color: var(--grey-color);
  margin: 50px 0px;
  padding: 50px 0px;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .box {
  background-color: white;
  padding: 20px;
  /* overflow: hidden; */
}
.gallery .box .gallery-image {
  overflow: hidden;
  position: relative;
}
.gallery .box .gallery-image::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  background-color: rgba(255, 255, 255, 0.3);
  top: 50%;
  left: 50%;
  z-index: 1;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: var(--main-transition);
}
.gallery .box .gallery-image:hover::before {
  animation: flashing 0.5s;
}
@keyframes flashing {
  0%,
  50% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
.gallery .box .gallery-image img {
  width: 100%;
  transition: var(--main-transition);
}
.gallery .box .gallery-image:hover img {
  transform: rotate(5deg) scale(1.1);
}

/* End section gallery */

/* start section features */
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .container .feat-image img {
  width: 100%;
}
.features .container .box {
  border: 1px solid var(--grey-color);
  border-radius: 10px;
  overflow: hidden;
}
.features .container .box .box-body {
  padding: 15px;
  text-align: center;
  line-height: 1.6;
}
.box-body h2 {
  font-size: 30px;
}
.box-body p {
  font-size: 20px;
  color: #777;
  margin: 15px;
}
.box-body button {
  background-color: transparent;
  padding: 10px 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin: 15px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.features .container .feat-image {
  overflow: hidden;
  position: relative;
}
.features .box .feat-image::before {
  content: "";
  position: absolute;

  right: 0%;
  bottom: 0%;
  border-style: solid;
  border-width: 0px 0px 150px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
  z-index: 1;
}
.features .box:hover .feat-image::before {
  border-width: 170px 500px 150px 0px;
}

.features .box .feat-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
}
.quality .feat-image::after {
  background-color: rgba(246, 0, 0, 0.214);

}
.time .feat-image::after {
  background-color: rgba(9, 252, 171, 0.214);

}
.passion .feat-image::after {
  background-color: rgba(5, 251, 255, 0.214);

}

.box-body h2 {
  position: relative;
}
.box-body h2::after {
  content: "";
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  height: 4px;
}
.quality h2::after {
  background-color: red;
}
.time h2::after {
  background-color: teal;
}
.passion h2::after {
  background-color: var(--main-color);
}

.box button::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: var(--main-transition);
}
.quality button {
  border: 2px solid red;
  color: red;
  font-size: 20px;
  font-weight: bold;
}
.features .box:hover .box-body button {
  color: white;
  transition-delay: 0.1s;
}
.features .box:hover.quality button::before {
  left: 0%;
  background-color: red;
  z-index: -1;
}

.time button {
  border: 2px solid teal;
  color: teal;
  font-size: 20px;
  font-weight: bold;
}
.features .box:hover.time button::before {
  left: 0%;
  background-color: teal;
  z-index: -1;
}

.passion button {
  border: 2px solid var(--main-color);
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
}
.features .box:hover.passion button::before {
  left: 0%;
  background-color: var(--main-color);
  z-index: -1;
}

/* End section features */
